i{
  margin-right:3px ;
}
.left-sidebar {
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .left-sidebar label {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .left-sidebar label.active {
    background-color: blue;
    color: white;
  }
  
  /* Links on mouse-over */
  .left-sidebar label:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
  }

  .user{
    position: absolute;
    bottom: 10px;
  }
